// Constants
$cyan: #00d0ff;
$yellow: #fcd702;

// Classes leveraging colors
.cyan {
  background: $cyan;
}

.yellow {
  background: $yellow;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.white {
  background: white;
}

.gradient {
  animation-duration: 3s;
  animation-name: changeGradient;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.gradient-2 {
  background: #00d0ff;
  background: #fcd702;
  background: -webkit-linear-gradient(left top, #00d0ff 60%, #fcd702 40%);
  background: -o-linear-gradient(bottom right, #00d0ff 60%, #fcd702 40%);
  background: -moz-linear-gradient(bottom right, #00d0ff 60%, #fcd702 40%);
  background: linear-gradient(to bottom right, #00d0ff 60%, #fcd702 40%);
}

@keyframes changeGradient {
  from {
    background: rgba(0, 255, 255, 0.1);
  }
  to {
    background: rgba(0, 200, 255, 0.3);
  }
}

.cyan-underline {
  text-decoration: underline;
  color: #00d0ff;
}

.gray-diag {
  background: rgba(0, 0, 0, 0.075);
  background: -webkit-linear-gradient(-70deg, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.04) 50%);
  background: -o-linear-gradient(-70deg, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.04) 50%);
  background: -moz-linear-gradient(-70deg, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.04) 50%);
  background: linear-gradient(-70deg, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.04) 50%);
}

.gray-diag-2 {
  background: rgba(0, 0, 0, 0.075);
  background: -webkit-linear-gradient(60deg, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0.08) 50%);
  background: -o-linear-gradient(60deg, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0.08) 50%);
  background: -moz-linear-gradient(60deg, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0.08) 50%);
  background: linear-gradient(60deg, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0.08) 50%);
}

.cyan-text,
a.cyan-text,
.cyan-text:hover {
  color: $cyan;
}

.yellow-text {
  color: $yellow;
}

.cyan-text-hover:hover, a.cyan-text-hover:hover, a.white-text.cyan-text-hover:hover, .navbar-brand.cyan-text-hover:hover {
  color: $cyan;
}

.cyan-text-hover:hover span.yellow-text-hover, a.cyan-text-hover:hover span.yellow-text-hover, a.white-text.cyan-text-hover:hover span.yellow-text-hover {
  color: $yellow;
}

.yellow-text-hover:hover, a.yellow-text-hover:hover, a.white-text.yellow-text-hover:hover {
  color: $yellow;
}
