input.form-control, textarea.form-control {
  color: black;
  background: transparent;
  z-index: 2 !important;
  border-radius: 0;
  border: 0px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

label {
  cursor: text;
  font-family: 'Palanquin Dark', 'Roboto', sans-serif;
  transform: translateY(-30px);
  z-index: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  display: inline-block;
  color: #777;
  padding-left: 0.5rem;

  &.active {
    color: #00d0ff !important;
  }

  &.hasVal {
    transform: scale(0.9) translateY(-68px);
    padding-left: 0rem;
    color: black;
  }
}

.form-control.active {
  border-color: #00d0ff !important;
}

label#messageLabel {
  position: absolute;
  transform: translateY(6px);
  z-index: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  display: inline-block;
  color: #777;
  padding-left: 0.5rem;

  &.hasVal {
    transform: scale(0.9) translateY(-32px);
    padding-left: 0rem;
    color: black;
  }
}

.btn.special {
  color: black;
  background: transparent;
  border: 2px solid black;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  &:hover {
    background: black;
    color: white;
  }
}

#inputMessage {
  overflow: hidden;
}

.alert {
  border-radius: 0 !important;
  border-width: 2px !important;
}
