<div class="container full-height section internal">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="shade-card">
        <h4 class="special">YH Internal Docs</h4>
        <p class="marg-bot-0">
          This serves as documentation to streamline, inform, and connect certain YouthHack processes. Want to see something in particular or have recommendations? Voice your concerns on Slack.
        </p>
      </div>

      <h4>Ventures Value Proposition</h4>
      <p class="note">
        How to pitch Ventures to prospective companies.
      </p>
      <ul>
        <li>Targetted mentorship with driven students: we want to see student entrepreneurs succeed and will do everything in our power to see that through.</li>
        <li>Well-connected to Penn &amp; Philly startup ecosystems.</li>
        <li>Well-connected to sources of funding.</li>
        <li>Development, marketing, and design review.</li>
      </ul>

      <h4>Startup School Value Proposition</h4>
      <p class="note">
        How to pitch Startup School to prospective students.
      </p>
      <ul>
        <li>Meet driven mentors.</li>
        <li>Meet freshmen similarly driven and interested in making a difference while at Penn.</li>
        <li>Learn about steps to becoming involved in entrepreneurship.</li>
        <li>Learn about Penn-specific resources for entrepreneurs.</li>
      </ul>

      <h4>Outreach templates</h4>
      <p class="note">
        Snippets to copy, paste, and personalize.
      </p>

      <p>Coming soon.</p>

      <h4>Assets</h4>
      <p class="note">
        Downloadable files related to YH branding.
      </p>

      <p>Coming soon.</p>

      <h4>Design</h4>
      <p class="note">
        Learn more about YH design conventions.
      </p>

      <ul>
        <li>YouthHack Blue: #4acaf1</li>
        <li>YouthHack Orange: #feb944</li>
        <li>YouthHack Logo Font: Code Bold</li>
      </ul>
    </div>
  </div>
</div>
