{{> home/hero}}

<div class="center full-width absolute half-up">
  <a data-scroll href="#about" class="no-decoration inline">
    <div class="circle white shade-3 hover">
      <i class="fa fa-angle-double-down black-text fa-3x fa"></i>
    </div>
  </a>
</div>

<!-- body -->
<div class="container-fluid pad-sides" id="about">
  <div class="space-1"></div>
  <div class="row marg-top-2">
    <div class="col-12 col-md-4">
      <div class="pad-1 division">
        <img class="branch-img" src="./img/diploma.svg" alt="YouthHack Startup School">
        <h2 class="special">Startup School</h2>
        <p>
          Come hear from experienced entrepreneurs share their stories and experiences
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="pad-1 division">
        <img class="branch-img" src="./img/rocket.svg" alt="YouthHack Ventures">
        <h2 class="special">Ventures</h2>
        <p>
          Working on a startup idea? Join our student-focused incubator program
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="pad-1 division">
        <img class="branch-img" src="./img/medal.svg" alt="YouthHack Startup Challenge">
        <h2 class="special">Startup Challenge</h2>
        <p>
          Dive into the world of startups in one intense action packed weekend challenge
        </p>
      </div>
    </div>
  </div>

  <div class="center">
    <a class="btn special" href="https://medium.com/youthhack-stories" target="_blank">
      Read what we've been up to
    </a>
    {{#if APPLICATIONS_LINK}}
      <a href="{{ APPLICATIONS_LINK }}" target="blank" class="btn special">
        Apply to the Core Team or Startup School
      </a>
    {{/if}}
    {{#if VENTURES_LINK}}
      <a href="{{ VENTURES_LINK }}" target="blank" class="btn special">
        Apply to YH Ventures
      </a>
    {{/if}}
  </div>

  <div class="space-2"></div>
</div>

<!-- Progress bar -->
{{> progress/a}}

{{> home/stats}}

{{> home/carousel}}

{{> home/press}}

<!-- Progress bar -->
{{> progress/b}}

<!-- past partners -->
{{> home/partners}}

<div class="space-2"></div>

<div class="gradient-2 background-image parallax" id="contact">
  <div class="overlay">
    <div class="container">
      <div class="space-2"></div>
      <div class="space-2 d-none d-md-block"></div>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="white pad-2">
            {{> contact}}
          </div>
          <!-- close white -->
        </div>
        <!-- close col -->
      </div>
      <!-- close row -->
    </div>
    <!-- close container -->
    <div class="space-4"></div>
  </div>
  <!-- close overlay -->
</div>

{{> back-to-top}}
