<div class="dots-wrapper" id="contact">
  <div class="gray-diag-2 background-image parallax">
    <div class="container">
      <div class="space-2"></div>
      <div class="space-4 d-none d-md-block"></div>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="space-1"></div>
          <div class="white pad-1">
            <h4 class="special">
              Oops! The page you were looking for does not exist
            </h4>
            <p>Please check the URL and refresh the page. If you think this is a mistake, <a href="/get-involved#contact">contact us</a> and let us know.</p>
            <a href="/" class="btn special">
              ← Back to home
            </a>
          </div>
        </div>
      </div>
      <div class="space-2"></div>
      <div class="space-4 d-none d-md-block"></div>
    </div>
  </div>
</div>
