<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="white pad-1">
        <h4>Oops! The page you were looking for does not exist.</h4>
        <p>Please check the URL and refresh the page.</p>
        <a href="/" class="btn special">
          ← Back to home
        </a>
      </div>
    </div>
  </div>
</div>
