<div class="background-graphic">
  <div class="background-fade"></div>
  <div class="slice slice-1"></div>
  <div class="slice slice-2"></div>
  <div class="dots"></div>
  <div class="slice slice-3"></div>
  <div class="slice slice-4"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="space-4"></div>
      <div class="col-12 col-md-10 col-lg-9">
        <h1 class="special marg-bot-1 white pad-1 marg-top-2">
          Startup School is a semester-long program for the budding entrepreneur to learn about turning an idea into a real product or service
        </h1>
      </div>

      <div class="col-12 col-lg-10">
        <p class="white pad-1">
          Serial entrepreneurs, professors, venture capitalists, and student entrepreneurs teach weekly lessons ranging from ideation to building an MVP to digital marketing and more. At the end of the program, students pitch their business idea to investors.
        </p>
        <p class="white pad-1">
          For more information, contact <a href="mailto:jalisha@wharton.upenn.edu" class="cyan-text">Alisha Joshi</a> or <a href="mailto:rajbhuva@seas.upenn.edu" class="cyan-text">Raj Bhuva.</a>
        </p>
      </div>
      <div class="space-4"></div>
    </div>
  </div>
</div>

<div class="center full-width absolute half-up">
  <a data-scroll href="#top" class="no-decoration inline">
    <div class="circle white shade-3 hover">
      <i class="fa fa-arrow-up black-text fa-2x"></i>
    </div>
  </a>
</div>
