<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active background-image" id="one">
      <div class="gradient gradient-carousel">
        <div class="overlay">
          <div class="carousel-caption">
            <span class="cyan-underline">
              <h3 class="special white-text">Hands on, exciting learning</h3>
            </span>
            <p>
              We constantly put on speaker series, meetups, and workshops to foster continued, creative, and entrepreneurial learning.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item background-image" id="two">
      <div class="gradient gradient-carousel">
        <div class="overlay">
          <div class="carousel-caption">
            <span class="cyan-underline">
              <h3 class="special white-text">Real results</h3>
            </span>
            <p>Our students build real businesses, pick up practical skills, and go on to disrupt whatever industries and roles they enter.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item background-image" id="three">
      <div class="gradient gradient-carousel">
        <div class="overlay">
          <div class="carousel-caption">
            <span class="cyan-underline">
              <h3 class="special white-text">Fine-tuned focus</h3>
            </span>
            <p>Our programs have gone through years of agile fine-tuning. Like any startup we've gauged what makes the most impact and what converts students into founders.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
