<div class="background-image parallax" id="philly">
  <div class="gradient">
    <div class="overlay">
      <div class="container hero-min-height">
        <div class="space-2"></div>
        <div class="space-4"></div>
        <div class="row">
          <div class="col-12 col-md-10 col-lg-7 hero-text">
            <span class="cyan-underline">
              <h1 class="special white-text marg-bot-2 tight bigger underline">
                A GLOBAL COMMUNITY OF YOUNG ENTREPRENEURS.
              </h1>
            </span>
            <p class="white-text header">
              We’re a nonprofit organization helping students learn more about startups, technology and entrepreneurship.
            </p>
          </div>
          <div class="col-5 d-none d-xl-block">
            <div class="white-video-border">
              <iframe width="100%" height="300px" src="https://www.youtube.com/embed/aKQurx4suSs" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="space-4"></div>
      </div>
    </div>
  </div>
</div>
