<div class="partner">
  <a href="{{link}}">
    <img src="./img/{{image}}" alt="{{name}}" class="img-fluid {{#if darken}}darken{{/if}} {{#if short}}short{{/if}} {{#if tall}}tall{{/if}} {{#if taller}}taller{{/if}}">
  </a>
</div>
