<div class="container">
  <div class="space-2"></div>
  <h2 class="special marg-bot-2">Past partners</h2>
</div>
<div class="partners-wrapper">
  <div class="partners">
    <div class="partner">
      <a href="https://entrepreneurship.wharton.upenn.edu/">
          <img src="./img/whartonentrep.png" alt="Wharton Entrepreneurship" class="img-fluid">
        </a>
    </div>

    <div class="partner">
      <a href="http://drexel.edu/close/">
          <img src="./img/drexelentrep.png" alt="Drexel Entrepreneurship" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="https://www.seventysixcapital.com/">
          <img src="./img/seventysixcapital.png" alt="Seventy Six Capital" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="https://www.stitchdata.com/">
          <img src="./img/stitch.png" alt="Stitch Data" class="img-fluid">
        </a>
    </div>

    <div class="partner">
      <a href="https://whatsneu.com/">
          <img src="./img/neu.png" alt="Neu" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.dreamit.com/">
          <img src="./img/dreamit.png" alt="Dreamit Ventures" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.redandblue.vc/">
          <img src="./img/redandblueventures.png" alt="Red and Blue Ventures" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="https://www.pci.upenn.edu/pciventures/">
          <img src="./img/pci.png" alt="PCI Ventures" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="https://myscholly.com/">
          <img src="./img/scholly.jpeg" alt="Scholly" class="img-fluid">
        </a>
    </div>

    <div class="partner">
      <a href="https://www.curalate.com/">
          <img src="./img/curalate.png" alt="Curalate" class="img-fluid">
        </a>
    </div>

    <div class="partner">
      <a href="https://technical.ly/philly/">
          <img src="./img/technicallyphilly.png" alt="Technical.ly Philly" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="http://dormroomfund.com/">
          <img src="./img/dormroomfund.svg" alt="Dorm Room Fund" class="img-fluid">
        </a>
    </div>

    <div class="partner">
      <a href="https://benfranklin.org/">
          <img src="./img/benfranklin.png" alt="Ben Franklin Technology Partners" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="http://phillystartupleaders.org/">
          <img src="./img/psl.svg" alt="Philly Startup Leaders" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="https://nextfab.com/">
          <img src="./img/nextfab.svg" alt="NextFab" class="img-fluid">
        </a>
    </div>

    <div class="partner">
      <a href="https://huffingtonpost.com/">
          <img src="./img/huffpost.svg" alt="Huffington Post" class="img-fluid darken short">
        </a>
    </div>

    <div class="partner">
      <a href="http://chopdawg.com/">
          <img src="./img/chopdawg.svg" alt="ChopDawg Studios" class="img-fluid tall">
        </a>
    </div>

    <div class="partner">
      <a href="https://www.uber.com/">
          <img src="./img/uber.png" alt="Uber Philippines" class="img-fluid short">
        </a>
    </div>

    <div class="partner">
      <a href="https://www.microsoft.com/">
          <img src="./img/microsoft.png" alt="Microsoft Philippines" class="img-fluid darken">
        </a>
    </div>

    <div class="partner">
      <a href="http://goldengate.vc/">
          <img src="./img/goldengate.svg" alt="Golden Gate Ventures" class="img-fluid darken short">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.impacthub.net/">
          <img src="./img/impacthub.png" alt="Impact Hub" class="img-fluid tall">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.kickstart.ph/">
          <img src="./img/kickstart.png" alt="Kickstart Ventures" class="img-fluid tall">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.ideaspacefoundation.org/">
          <img src="./img/ideaspace.png" alt="IdeaSpace Foundation" class="img-fluid darken tall">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.inquirer.net/">
          <img src="./img/inquirer.svg" alt="Inquirer Philippines" class="img-fluid short">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.rappler.com/">
          <img src="./img/rappler.png" alt="Rappler" class="img-fluid tall">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.informatics.edu.ph/">
          <img src="./img/informatics.png" alt="Informatics College" class="img-fluid">
        </a>
    </div>

    <div class="partner">
      <a href="http://gates.edu.ph/">
          <img src="./img/gates.png" alt="Gates Professional Schools" class="img-fluid tall">
        </a>
    </div>

    <div class="partner">
      <a href="https://www.techinasia.com/">
          <img src="./img/techinasia.svg" alt="Tech in Asia" class="img-fluid">
        </a>
    </div>

    <div class="partner">
      <a href="http://www.launchgarage.com/">
          <img src="./img/launchgarage.png" alt="Launch Garage" class="img-fluid taller">
        </a>
    </div>
  </div>
  <div class="space-2"></div>
</div>
