<div class="gray-diag-2 background-image parallax">
  <div class="space-2"></div>
  <div class="container" id="press">
    <h2 class="special marg-bot-2">In the press</h2>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.rappler.com/business/features/97062-youthhack-manila-inspiring-filipino-entrepreneurs" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/rappler.png" class="img-fluid" alt="Rappler">
            </div>
            <h4 class="special">
              Building YouthHack Manila
            </h4>
            <p>
              How an idealistic college sophomore’s risk taking paid off in inspiring the youth to tackle social problems through technology
            </p>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://www.techinasia.com/youthhack-goes-international" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/techinasia.svg" class="img-fluid" alt="Tech in Asia">
            </div>
            <h4 class="special">
              How Philippine entrepreneurship competition YouthHack went global
            </h4>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://beacon.wharton.upenn.edu/entrepreneurship/2015/05/how-youthhack-happened-behind-the-scenes-of-youthhack-philadelphia-shark-tank-challenge-2015/" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/wharton.svg" class="img-fluid" alt="Wharton">
            </div>
            <h4 class="special">
              How YouthHack Happened Behind the Scenes of YouthHack Philadelphia
            </h4>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.rappler.com/bulletin-board/64338-young-tecnopreneurs-standout-youthhack-manila-2014" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/rappler.png" class="img-fluid" alt="Rappler">
            </div>
            <h4 class="special">
              Young technopreneurs standout at YouthHack Manila 2014
            </h4>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="http://lifestyle.inquirer.net/201281/youthhack-marks-first-ever-coding-event/" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/inquirer.svg" class="img-fluid" alt="Inquirer">
            </div>
            <h4 class="special">
              YouthHack marks first-ever coding event
            </h4>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.philstar.com/campus/2015/08/17/1489120/youthhacks-journey-manila-global-stage" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/philstar.jpg" class="img-fluid" alt="PhilStar">
            </div>
            <h4 class="special">
              YouthHack’s journey from Manila to the global stage
            </h4>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="http://lifestyle.inquirer.net/204221/what-i-learned-as-an-intern-at-a-start-up/" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/inquirer.svg" class="img-fluid" alt="Inquirer">
            </div>
            <h4 class="special">
              What I learned as an intern at a start-up
            </h4>
            <p>
              Tangible impact of the YouthHack Summer Fellowship Program
            </p>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://beacon.wharton.upenn.edu/entrepreneurship/2015/11/youthhack-philly-startup-tour/" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/wharton.svg" class="img-fluid" alt="Wharton">
            </div>
            <h4 class="special">
              YouthHack Philly Startup Tour
            </h4>
            <p>
              Expanding outside Penn to take in Philly's entrepreneurial ecosystem.
            </p>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.thedp.com/article/2017/01/youthhack-philadelphia-supports-student-entrepreneurs" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/dp.svg" class="img-fluid" alt="The Daily Pennsylvanian">
            </div>
            <h4 class="special">
              YouthHack Philadelphia supports student entrepreneurs
            </h4>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://entrepreneurship.wharton.upenn.edu/blog/student-founded-accelerator/" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/wharton.svg" class="img-fluid" alt="Wharton Entrepreneurship">
            </div>
            <h4 class="special">
              A Student Founded Accelerator
            </h4>
            <p>
              Reflections on the YouthHack Philly Ventures program
            </p>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.penntechreview.com/youthhack" class="black-text no-decoration">
          <div class="article shade-1">
            <div class="article-image">
              <img src="./img/ptr.png" class="img-fluid" alt="Wharton Entrepreneurship">
            </div>
            <h4 class="special">
              Igniting the Entrepreneurial Flame at Penn and Beyond - David Ongchoco
            </h4>
          </div>
        </a>
      </div>
    </div>
    <!-- closing row -->
  </div>
  <!-- closing container -->
  <div class="space-1"></div>
</div>
