<div class="gray-diag-2 background-image parallax">
  <div class="space-2"></div>
  <div class="container" id="press">
    <h2 class="special marg-bot-2">In the press</h2>

    <div class="row">
      {{#each press}}
        {{> home/article this}}
      {{/each}}
    </div>
  </div>
  <!-- closing container -->
  <div class="space-1"></div>
</div>
