<div class="gray-diag background-image parallax">
  <div class="container">
    <div id="stats">
      <div class="stat">
        <h4 class="special">Core Team Members</h4>
        <h2>150+</h2>
      </div>
      <div class="stat">
        <h4 class="special">Student Participants</h4>
        <h2>3000+</h2>
      </div>
      <div class="stat">
        <h4 class="special">Countries</h4>
        <h2>7</h2>
      </div>
      <div class="stat">
        <h4 class="special">Startups Incubated</h4>
        <h2>30+</h2>
      </div>
      <div class="stat">
        <h4 class="special">External Mentors</h4>
        <h2>100+</h2>
      </div>
    </div>
  </div>
</div>

<div class="action-bubble half-up absolute shade-4 hover">
  <a href="./getinvolved.html">
    Help these numbers grow &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
  </a>
</div>
