<div class="center full-width absolute half-up">
  <a data-scroll href="#top" class="no-decoration inline">
    <div class="circle white shade-3 hover">
      <i class="fa fa-arrow-up black-text fa-2x"></i>
    </div>
  </a>
</div>
