<h2 class="special marg-bot-2">Contact us</h2>
<div id="errors"></div>
<form id="contactForm" action="https://formspree.io/hello@youthhack.net" method="post">
  <div class="row">
    <div class="col-6">
      <input type="text" name="Name" class="form-control" id="inputName" required>
      <label for="inputName">Name*</label>
    </div>

    <div class="col-6">
      <input type="email" name="_replyto" class="form-control" id="inputEmail" required>
      <label for="inputEmail">Email*</label>
    </div>
  </div>
  <!-- closing row -->

  <div class="row">
    <div class="col-6">
      <input type="text" name="Organization" class="form-control" id="inputOrganization">
      <label for="inputOrganization">Organization</label>
    </div>
    <div class="col-6">
      <input type="text" name="Location" class="form-control" id="inputLocation">
      <label for="inputLocation">Location</label>
    </div>
  </div>
  <!-- closing row -->

  <input type="text" name="_subject" class="form-control" id="inputSubject" required>
  <label for="inputSubject">Subject*</label>
  <div class="empty-space"></div>
  <label id="messageLabel" for="inputMessage">Message*</label>
  <textarea rows="1" type="message" name="Message" class="form-control" id="inputMessage" id="ta" required></textarea>

  <input type="text" name="_gotcha" style="display:none">
  <div class="space-2"></div>
  <button type="submit" id="submit" value="Send" class="btn special">Submit</button>
</form>
