<!-- footer -->
<footer class="block black white-text pad-2">
  <div class="space-1"></div>
  <ul class="icons">
    <li>
      <a href="mailto:hello@youthhack.net" title="Email YouthHack" class="white-text">
        <i class="fa fa-lg fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/youthhack_" title="YouthHack on Twitter" class="white-text">
        <i class="fa fa-lg fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://medium.com/youthhack-stories" title="YouthHack on Medium" class="white-text">
        <i class="fa fa-lg fa-medium"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/YouthHack/" title="YouthHack on Facebook" class="white-text">
        <i class="fa fa-lg fa-facebook"></i>
      </a>
    </li>
  </ul>
  <!-- closing list -->
  <div class="row marg-bot-1">
    <!-- text -->
    <div class="col-12 col-md-5 marg-bot-1">
      <h1 class="marg-bot-1 cyan-text-hover">
        <img src="./img/logo.svg">
        Youth<span class="yellow-text-hover">Hack</span>
      </h1>
      <p>
        YouthHack &copy; 2017. All rights reserved.<br> Website by <a href="http://cameroncabo.com" class="white-text bold no-decoration cyan-text-hover">Cameron Cabo</a>.
      </p>

      <p>
        Made with <span class="cyan-text-hover">&hearts;</span> in Philly, Manila, Sri Lanka, Malaysia, Thailand, Calabarzon, and around the world.
      </p>

      <p class="smaller">
        Icons made by <a href="https://www.flaticon.com/authors/zlatko-najdenovski" title="Zlatko Najdenovski" class="white-text bold no-decoration cyan-text-hover">Zlatko Najdenovski</a> and <a href="http://www.freepik.com" title="Freepik" class="white-text bold no-decoration cyan-text-hover">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" class="white-text bold no-decoration cyan-text-hover">www.flaticon.com</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" class="white-text bold no-decoration cyan-text-hover">CC 3.0 BY.</a>
      </p>
    </div>
    <!-- footer navigation -->
    <div class="col-12 col-md-3 offset-md-1">
      <ul class="footer-nav">
        <li>
          <a href="/" class="special">
            Home
          </a>
        </li>
        <li>
          <a href="/about" class="special">
            About
          </a>
        </li>
        <li>
          <a href="/ventures" class="special">
            Ventures
          </a>
        </li>
        <li>
          <a href="/startup-school" class="special">
            Startup School
          </a>
        </li>
        <li>
          <a href="https://medium.com/youthhack-stories" class="special" target="_blank">
            Blog
          </a>
        </li>
        <li>
          <a href="/get-involved" class="special">
            Get Involved
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
